<div ng-init="masina.masina='102-t'; masina.ruta=0; routeRequest()" ng-controller="MapcontrolsCtrl as map" class="leaflet-containter" >
  <div class= "center-container boss" >
    Alege masina: 	<select class="select-menu" ng-model="masina.masina">
                      <option ng-repeat = "car in routeOptions " value="{{car}}">{{car}}</option>
                    </select>

    Alege ruta: 	<select class="select-menu" ng-model="masina.ruta">
                    <option  ng-repeat="route in directionsList"  value="{{route}}">Ruta: {{route + 1}}</option>
                  </select>

    <button ng-click="routeRequest()">Vizualizare swiper</button>
    <button ng-click="customRouteRequest()">Adu geometrie</button>

  </div>

  <leaflet center="center" width='100%' height='90%' paths="paths"></leaflet>


  <form class="leaflet-form">
     Latitude : <input class="select-menu max"  type="number" step="0.1" ng-model="center.lat">
     Longitude : <input class="select-menu max" type="number" step="0.1" ng-model="center.lng">
     Zoom : <input class="select-menu max" type="number" step="any" ng-model="center.zoom">
  </form>
</div>
